<style>
h1{

}

body {
  background-color: green;
  font-family: copperplate;
  color: DarkRed;
  font-size: large;

}
#images {
  width: 500px;
  border: thin solid black;
}

#images img {
  width: 100px;
}
